.board {
    height: 100%;
    image-rendering: crisp-edges;
}

.noselect {
    -moz-user-select: none; /* These user-select properties are inheritable, used to prevent text selection */
    -webkit-user-select: none;
    -ms-user-select: none; /* From IE10 only */
    user-select: none; /* Not valid CSS yet, as of July 2012 */

    -webkit-user-drag: none; /* Prevents dragging of images/divs etc */
    user-drag: none;
    pointer-events: none;
}

.piece {
    width: 12.5vh;
    height: 12.5vh;
    position: absolute;
    top: 1vh;
    left: 1vh;
    z-index: 1;
}

.queen {
    background: url("ChessPiecesArray.png") 0 0;
    background-size: 700% 200%;
  }