body {
    background-color: #181a1b;
}

.board {
    height: 100%;
}

.noselect {
    -moz-user-select: none; /* These user-select properties are inheritable, used to prevent text selection */
    -webkit-user-select: none;
    -ms-user-select: none; /* From IE10 only */
    user-select: none; /* Not valid CSS yet, as of July 2012 */

    -webkit-user-drag: none; /* Prevents dragging of images/divs etc */
}

.piece {
    width: 12.5vh;
    height: 12.5vh;
    position: absolute;
    top: 1vh;
    left: 1vh;
    z-index: 1;
}

.queen {
    background: url("ChessPiecesArray.png") 0 0;
    background-size: 700% 200%;
}

.invisible {
    display: none

}

.msLabel {
    position: absolute;
    right: 10%;
    color: white;
    display: block;
    font-size: 25pt;
}

.flipLabel {
    position: absolute;
    top: 10%;
    right: 10%;
    color: white;
    display: block;
    font-size: 25pt;
}

input {
    width: 25pt;
    height: 25pt;
}

#stopwatch {
    font-size: 100px;
    position: absolute;
    top: 10%;
    right: 5%;
    color: white;
}