body {
    background-color: #181a1b;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.board {
    height: 100%;
}

.noselect {
    -moz-user-select: none; /* These user-select properties are inheritable, used to prevent text selection */
    -webkit-user-select: none;
    -ms-user-select: none; /* From IE10 only */
    user-select: none; /* Not valid CSS yet, as of July 2012 */

    -webkit-user-drag: none; /* Prevents dragging of images/divs etc */
}

.piece {
    width: 12.5vh;
    height: 12.5vh;
    position: absolute;
    top: 1vh;
    left: 1vh;
    z-index: 1;
}

.queen {
    background: url("ChessPiecesArray.png") 0 0;
    background-size: 700% 200%;
}

.invisible {
    display: none

}

.msLabel {
    position: absolute;
    right: 10%;
    color: white;
    display: block;
    font-size: 25pt;
}

.flipLabel {
    position: absolute;
    top: 10%;
    right: 10%;
    color: white;
    display: block;
    font-size: 25pt;
}

input {
    width: 25pt;
    height: 25pt;
}

#stopwatch {
    font-size: 100px;
    position: absolute;
    top: 10%;
    right: 5%;
    color: white;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.75);
    z-index: 10;
    display: none;
}

#darker {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 5vw;
    right: 5vw;
    top: 5vh;
    bottom: 5vh;
    background-color: rgba(24, 26, 26, 1);
    border-radius: 25px;
}

#title {
    position: relative;
    top: 2vh;
    font-size: 15vw;
    color: white;
    text-align: center;
    text-size-adjust: auto;
}

.menuButton {
    background-color: rgb(61, 153, 61);
    color: white;
    border-radius: 20px;
    font-size: 30px;
    text-align: center;
    flex-grow: 1;
    height: 100%;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    max-height: 30%;
    cursor: pointer;
}

.menuButton:hover {
    background-color: rgb(40, 102, 40);
}

.backButton {
    font-size: 10vw;
    color: gray;
    text-align: center;
    text-size-adjust: auto;
    position: absolute;
    top: -5vh;
    left: 0vw;
    user-select: none;
    cursor: pointer;
}

.menuText {
    font-size: 12vw;
    color: white;
    text-align: center;
    text-size-adjust: auto;
    height: 25%;
    margin: 5vw 5vh;
}

.idText {
    font-size: 5vw;
    color: white;
    text-align: center;
    text-size-adjust: auto;
    margin-bottom: 5vh;
}

.idInput {
    font-size: 5vw;
    color: black;
    text-align: center;
    text-size-adjust: auto;
    margin-bottom: 5vh;
    width: 100%;
    height: 10vh;
    z-index: 15;
}


.flex-container {
    left: 2vw;
    right: 2vw;
    bottom: 2vw;
    top: 20vw;
    flex-grow: 5;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.flex-container-server {
    left: 2vw;
    right: 2vw;
    bottom: 2vw;
    top: 2vh;
    flex-grow: 5;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.slideOverScreen {
    border-radius: 20px;
    position: absolute;
    bottom: 0vh;
    width: 100%;
    right: -100%;
    top: 0vh;
    -webkit-transition: all 0.75s, -webkit-transform 0.75s;
    transition: all 0.75s, transform 0.75s;
    z-index: 10;
}

.slideOverScreenMain {
    background: rgba(24, 26, 26, 1);
    border-radius: 20px;
    position: absolute;
    bottom: 0vh;
    width: 100%;
    right: 0%;
    top: 0vh;
    -webkit-transition: all 0.75s, -webkit-transform 0.75s;
    transition: all 0.75s, transform 0.75s;
    z-index: 10;
}

.box {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow:hidden;
    pointer-events: none;
}

.boxMain {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow:hidden;
    pointer-events: auto;
}